body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-elements {
    padding: 5px 0px;
    width: 92%;
}

.ux-elements {
    padding: 5px;
    width: 90%;
    border: 3px solid;
    border-radius: 7px;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(188, 170, 10);
    border: 2px double;
    padding: 7px;
    width: 500px;
}

/* status bar for hero and enemy */

#status-bars {
    display: flex;
    justify-content: space-between;
}

.status-bar {
    display: flex;
    height: 100%;
    max-height: 12px;
    margin: 1px 0px 1px 0px;
}

.bars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 40px;
}

/* hero status bar */ 

#hero {
    border-radius: 5px 0px 0px 5px;
    display: flex;
    background-color: lightgray;
    width: 150px;
    border: 2px solid silver;
}

#healthHero {
    border-radius: 5px 0px 0px 5px;
    background-color: red;
}

#armorHero {
    background-color: gray;
}

#ffHero {
    background-color: royalblue;
}

/* enemy status bar */

#enemy {
    height: 15;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    background-color: lightgray;
    width: 150px;
    border: 2px solid silver;
}

#healthEnemy {
    border-radius: 0px 5px 5px 0px;
    background-color: red;
}

#armorEnemy {
    background-color: gray;
}

#ffEnemy {
    background-color: royalblue;
}

/* buttons */ 

#buttons {
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 8px 0px;
}

button {
    width: 33.3%;
}
